@import 'colors';
@import 'resolution';
@import 'fonts';


#nav-bar{
  background:$amarillo;
  margin-bottom: $margin-navbar;
  	h1{
  		color: $blanco;
	}
}


#menu{
   background:$gris;		
	li{
	color:$blanco;
		
	}
	li:hover{
	background:$amarillo;
	cursor:pointer;
	}
}


#lista-alumnas{
		h1{
			color:$negro;
		}
}
#aside{
	background:$gris;
	color:$blanco;
	text-align: $center;
}
#pie-pagina{
	
	div{
		
		div{
			background:$gris;
			color: white;
			text-align: $center;
		}
	}
}
